.DS_Store
*.[568ao]
*.a[568o]
*.so
*.pyc
._*
.nfs.*
[568a].out
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go
build.out
test.out
/doc/tmpltohtml
/doc/articles/wiki/*.bin
/misc/cgo/life/run.out
/misc/cgo/stdio/run.out
/misc/cgo/testso/main
/misc/dashboard/builder/builder
/misc/goplay/goplay
/misc/osx/*.pkg
/misc/osx/*.dmg
/src/cmd/?a/y.output
/src/cmd/?l/enam.c
/src/cmd/cc/y.output
/src/cmd/cgo/zdefaultcc.go
/src/cmd/dist/dist.dSYM
/src/cmd/gc/mkbuiltin1
/src/cmd/gc/opnames.h
/src/cmd/gc/y.output
/src/cmd/go/zdefaultcc.go
/src/liblink/anames?.c
/src/go/doc/headscan
/src/runtime/goc2c
/src/runtime/mkversion
/src/runtime/z*
/src/unicode/maketables
/src/*.*/
/test/pass.out
/test/run.out
/test/times.out
/test/garbage/*.out
/goinstall.log
/last-change
/VERSION.cache
/bin/
/pkg/
/src/cmd/5a/5a
/src/cmd/5c/5c
/src/cmd/5g/5g
/src/cmd/5l/5l
/src/cmd/6a/6a
/src/cmd/6c/6c
/src/cmd/6g/6g
/src/cmd/6l/6l
/src/cmd/8a/8a
/src/cmd/8c/8c
/src/cmd/8g/8g
/src/cmd/8l/8l
/src/cmd/addr2line/addr2line
/src/cmd/api/api
/src/cmd/cc/cc
/src/cmd/cgo/cgo
/src/cmd/dist/dist
/src/cmd/fix/fix
/src/cmd/gc/gc
/src/cmd/go/go
/src/cmd/godoc/godoc
/src/cmd/gofmt/gofmt
/src/cmd/ld/ld
/src/cmd/nm/nm
/src/cmd/objdump/objdump
/src/cmd/pack/pack
/src/cmd/prof/prof
/src/cmd/yacc/yacc
core.[0-9]*

# not in .hgignore
/src/syscall/fstest_nacl.go
